
.Main-background {

    background-image:linear-gradient(rgba(55, 50, 62, 0.7), rgba(55, 50, 62, 0.7)), url("../../assets/beirut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 'center';
    background-color: rgba(55, 50, 62, 0.7);
    background-attachment: fixed;
    height: 100vh;
 

}

.search-form{
    padding: 0px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.search-btn{
    background-color: #DE9E36 !important;
    padding: 10px 0px !important;
}

.iconsdiv{

    margin-top: 5% !important;
    margin: auto;
    color: #DEB841;
}


.main-icon{
    margin: 20px;
}

.form-dropdown{
  
    background-color: transparent !important;
    padding: 6.5px 0px !important;
}