body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
}

.signbtn{
  background-color: #37323E !important;
  margin-top: 20px !important;
  margin-bottom: 5px !important;
}



.css-mhc70k-MuiGrid-root>.MuiGrid-item {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Navbar {
  background-color: #37323E !important;

}

.navcontent{

  justify-content: right;
}

.navbtn{

  padding-right: 50px !important;

}


.homebtn {
  color: #DEB841;
}