* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
}

.signbtn{
  background-color: #37323E !important;
  margin-top: 15px !important;
  margin-bottom: 5px !important;
}


.css-mhc70k-MuiGrid-root {

  margin-left: 0px !important;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.css-46bh2p-MuiCardContent-root:last-child {
  padding-bottom: 0px !important;
}


.css-mhc70k-MuiGrid-root>.MuiGrid-item {
  padding-left: 10px;
  padding-right: 10px;
}

.Navbar {
  background-color: #37323E !important;

}

.navcontent{

  justify-content: right;
}

.navbtn{

  padding-right: 60px !important;
  text-transform: capitalize !important;
  
}


.navbtn:hover{

  color: #DEB841;

}

.sign-link{

  text-decoration:none;
  color: black;
}

.sign-link:hover{

  color: #37323E;
}



.homebtn {
  color: #DEB841 !important;
  background-color: #37323E !important;
  border-width: 0px;
  cursor: pointer;
}

/*.addbtn{
  background-color: #DEB841 !important;
  color: white !important;
  padding: -10px !important;
  margin: 20px 0px !important;
  font-weight: 600 !important;
  padding: 0px 25px !important;
  text-transform: capitalize;
}*/

#addbtn{
  background-color: #DEB841 ;
  color: white ;
  padding: -10px ;
  margin: 15px 0px ;
  font-weight: 600 ;
  padding: 0px 25px ;
  text-transform: capitalize;
}

.Result-background{

  background-color:rgba(55, 50, 62, 0.7);
  height: 100%;

}

.search-results{

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;

}


#search-in-results{

  padding: 10px !important;
}

.result-title{
  display: block;
}



.results-search-item{

  padding-right: 10px;
}



.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {

padding: 10px 20px !important;
}


/* Apartment Card Styling*/


.apartment-price{

  font-weight: 700 !important;
  font-size: 25px !important;
  line-height: 30px !important;
  color: #DE9E36;

}

.apartment-space{

  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 23px !important;
  color: #37323E;
}


.css-46bh2p-MuiCardContent-root {
  padding: 0 16px !important;
}


.css-1qvr50w-MuiTypography-root {

  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 21px !important;

}





/* Details Page Styling*/


.details-title{

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
}

.line{

  margin: 20px 0px ;
  border: 1px solid #808080;

}
.details-price{

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #DEB841;
  margin-bottom: 1%;
}


.details-space{

  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.details-description{

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #CCCCCC;
  margin-bottom: 2%;
}

.agent{

  color: rgba(255, 255, 255, 0.4) !important;
}

.agent-name{

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-bottom: 2%;
  text-transform: capitalize;
}

.request-btn{
  background: #DEB841 !important;
  box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3) !important;
  border-radius: 10px !important;
  margin-bottom: 5% !important;
  text-transform: capitalize !important;
}

/*Images Carousel*/


.thumbnails {

  justify-content: center;
}


Label:focus{
  color:white !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #37323E !important;
}


/* Modal Styling*/


.modal-field{

  margin-bottom: 30px !important;
  background: #FFFFFF;
  box-sizing: border-box;
}



.css-i4bv87-MuiSvgIcon-root {
  
  width: 75px !important;
}



/*Uploading Images Style*/

.image-item {
  display: flex;
  margin: 10px 0;
  align-items: center;
}
.upload-image-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border-style: dashed;
    border-width: 1px;
    border-color: #DEB841;
    height: 75%;
    max-height:100%;
}

.upload-btn {
  cursor: pointer;
  color: #DEB841;
  background-color: transparent;
  border: 0px;
}


.remove-btn {
  cursor: pointer;
  color: red;
  background-color: transparent;
  border: 0px;
}

BiImageAdd{

  background-color: transparent;
}



/*For Profile Page*/
.editbtn{
  background-color: #DEB841 !important;
  margin-top: 15px !important;
  margin-bottom: 5px !important;
}

.deletebtn{
  background-color:red !important;
  margin-top: 15px !important;
  margin-bottom: 5px !important;
}



/*contact us*/

.contact-form{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.about{

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5% 20%;
  color: white;
}