.tab:focus{

    color: white;
}

.tab::selection{

    color: white !important;
}


.css-1aquho2-MuiTabs-indicator {

    background-color: white !important; 
}

.css-aym9vq-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: white !important;
}