.SignIn {

    /*background-image: url("../../assets/test5.jpg");
    background-size: "cover" !important;
    height: 100vh;
    margin-top: -70px;
    background-repeat:no-repeat; 
    color: black;*/



    background-image:linear-gradient(rgba(55, 50, 62, 0.7), rgba(55, 50, 62, 0.7)), url("../../assets/test5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -30px;
    background-position: 'center';
    background-color: rgba(55, 50, 62, 0.7);


}