.SignIn {

    /*background-image: url("../../assets/test5.jpg");
    background-size: "cover" !important;
    height: 100vh;
    margin-top: -70px;
    background-repeat:no-repeat; 
    color: black;*/



    background-image:linear-gradient(rgba(55, 50, 62, 0.7), rgba(55, 50, 62, 0.7)), url("../../assets/test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  
    background-position: 'center';
    background-color: rgba(55, 50, 62, 0.7);
    background-attachment: fixed;


}


.title{

    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    justify-content: space-around;
    align-content: center;
}

.slogan{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 5px;
}